/* Define custom properties */
:root {
    --dse-base-color: #0047BB;/* ÖAW-BLUE */
    --dse-base-color-light: #f1f1f1;/* ACDH LIGHT GREY */
    --dse-base-color-dark: #003a96;
    /* Style Bootstrap links */
    --bs-link-color-rgb: 0, 71, 187;
    --bs-link-hover-color-rgb: 0, 71, 187;
}

/* Class for color styling */
.base-color {
    color: var(--dse-base-color);
}

/* Style footer */
footer {
    border-top: solid;
    border-color: var(--dse-base-color);
}
.footerlogo {
    height: 60px;
}

/* needed for interactive map in listplace.xsl */
div#map {
    height: 50vh;
}

/* Match bootstrap navlink focus outline color. */
:focus-visible {
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}

.entity {
    text-decoration: underline dotted;
    cursor: pointer;
}

/* Reduce Tabulator background color for accessibility */
.tabulator-tableholder .tabulator-table .tabulator-row-even {
  background-color: var(--dse-base-color-light);
}

/* Style Bootstrap buttons */
.btn-primary {
    --bs-btn-bg: var(--dse-base-color);
    --bs-btn-border-color: var(--dse-base-color);
    --bs-btn-hover-bg: var(--dse-base-color-dark);
    --bs-btn-hover-border-color: var(--dse-base-color-dark);
    --bs-btn-active-bg: var(--dse-base-color-dark);
    --bs-btn-active-border-color: var(--dse-base-color-dark);
}

/* Add buffer above main frame for skip-link focus*/
#main {
    scroll-margin-top: 1rem;
}
